html{
    height: 100%;
}
body {
    margin: 0;
	background-color:black;
	background-repeat: no-repeat;
    background-attachment: fixed;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 5px solid #821f4b;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 11pt;
}
ul {

margin-top:4px;

}

#navigation_menu ul li {

display: inline;


}

#navigation_menu ul li 	a{

vertical-align: top;
color:black;

}

#navigation_menu{

width: 100%;
background-color : #c6c6c6;
float: left;
position: relative;
height:37px;

z-index:0;
}



.connectUtilisateur{
border-width:1px;
background-color : #99275a;
height:35px;
color :white;
position:relative;
z-index:2;

}

#titre{
margin-top:0px;
float:left;
position:absolute;
}

#recherche{
float:left;
width:200px;
margin-left:300px;
position:absolute;
margin-top:2px;
}

#compte{
float:left;
width:400px;
margin-left:720px;
position:absolute;
margin-top:2px;
}

#buttons{
margin-left:1100px;
}


.bandeau{
z-index : 1;
background-color : white;
background-image:url(images/banniere.jpg);
height:175px;
margin:auto;
position : relative;
	-webkit-box-shadow: 0px 1px 7px 0px #000000;
	-moz-box-shadow: 0px 1px 7px 0px #000000;
	box-shadow: 0px 1px 7px 0px #000000;
}

.content{
	-webkit-box-shadow: 3px 3px 15px #000000;
	-moz-box-shadow: 3px 3px 15px #000000;
	box-shadow: 3px 3px 15px #000000;
	background-color: white;
	color: black;

	width:1000px;


	height : 900px; /*<!-- a changer -->*/
	color: black;

	margin: 0 auto;


	overflow:hidden;	
}

#presentation{
text-align : left;
margin-left: 20px;
color :#44353c;
}

