html{
    height: 100%;
}
body {
    margin: 0;
	background-color:#c6c6c6;
	background-repeat: no-repeat;
    background-attachment: fixed;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 5px solid #821f4b;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 11pt;
}
ul {
list-style: none outside none;
}

#navigation_menu ul li {

display: block;
float: left;
margin: 0 9px 0 0;
padding: 0px 5px;
}

#navigation_menu{
vertical-align: baseline;
width: 100%;
background-color : #c6c6c6;
float: left;
position: relative;
height:50px;

z-index:0;
position : relative;
}



.connectUtilisateur{
border-width:1px;
background-color : #99275a;
height:35px;
color :white;
position:relative;
z-index:2;

}

#titre{
margin-top:0px;
float:left;
position:absolute;
}

#recherche{
float:left;
width:200px;
margin-left:300px;
position:absolute;
margin-top:2px;
}

#compte{
float:left;
width:950px;
margin-left:500px;
position:absolute;
margin-top:2px;
}


.bandeau{
z-index : 1;
background-color : white;
background-image:url(../Resources/images/banniere.jpg);
height:194px;
margin:auto;
position : relative;
	-webkit-box-shadow: 0px 1px 15px 0px #000000;
	-moz-box-shadow: 0px 1px 15px 0px #000000;
	box-shadow: 0px 1px 15px 0px #000000;
}

.content{
	-webkit-box-shadow: 3px 3px 15px #000000;
	-moz-box-shadow: 3px 3px 15px #000000;
	box-shadow: 3px 3px 15px #000000;
	background-color: white;
	color: black;

	width:1000px;


	height : 900px; /*<!-- a changer -->*/
	color: black;

	margin: 0 auto;


bottom:0px;
	overflow:hidden;	
}

#presentation{
text-align : left;
margin-left: 20px;
color :#44353c;
}

